.git
.github
.venv
.ruff_cache
__pycache__
*.pyc
.coverage
.coverage.*
htmlcov
.pytest_cache

# No need for these misc files in the Docker container
SETUP.md
README.md
PLAN.md
AGENTS.md
compose.yaml
.env.example
.python-version
